.error-msg{
	color:#f50;
	padding-left:10px;
	padding-top:10px;
}
.fixd-footer{
	position: fixed;
	bottom: 0;
	width: 100%;
}

.fixd-header.am-navbar{
	position: fixed;
	top: 0;
	width: 100%;
}
.page-content{
	padding:45px 5px;
}
.am-card-header-content img{
	width: 25px;
	height: 25px;
}

#chat-page .chat-me .am-list-extra{
	flex-basis:auto;
}
#chat-page .chat-me .am-list-content{
	padding-right: 15px;
	text-align: right;
}
#chat-page .am-grid-icon{
	display: none;
}
#chat-page .am-grid-text{
	margin-top: 0;
}
/* .stick-footer{
	z-index:10;
	position: absolute;
	bottom: 0;
	width:100%;
} */
/* #chat-page{
	height:100%;
	
}
#chat-page .chat-top-bar{
	width:100%;
	height:50px;
	position:absolute;
	top:0;
	text-align:center;
}
#chat-page .chat-content{
	width:100%;
	overflow:auto;
	top:50px;
	position:absolute;
	bottom:50px;
}
#chat-page .stick-footer{
	z-index:10;
	width:100%;
	height: 50px;
	position:absolute;
	bottom:0;
	text-align:center;
} */

#chat-page{
	height:100%;
	
}
#chat-page .chat-top-bar{
	width:100%;
	height:50px;
	position:absolute;
	top:0;
	text-align:center;
}
#chat-page .chat-content{
	width:100%;
	overflow:auto;
	top:50px;
	position:absolute;
	bottom:50px;
}
#chat-page .stick-footer{
	z-index:10;
	width:100%;
	height: 50px;
	position:absolute;
	bottom:0;
	text-align:center;
}